.dropdown {
    visibility: hidden;
    opacity: 0;

    position: absolute;

    cursor: initial;
    word-break: break-word;

    z-index: 2;

    top: calc(100% - 0.5rem);

    transition: opacity var(--base-transition-duration) 250ms var(--base-transition-function);
}

.dropdown[data-dropdown-align="center"] {
    right: 50%;
    transform: translateX(50%);
}

.dropdown[data-dropdown-align="end"] {
    right: 0;
}

.dropdown[data-dropdown-align="start"] {
    left: 0;
}

.dropdown-initiator {
    position: relative;
    cursor: pointer;
}

.dropdown-initiator > button,
button.dropdown-initiator {
    cursor: pointer;
}

.dropdown-initiator:focus-within,
.dropdown-initiator:hover {
  > .dropdown {
      visibility: visible;
      opacity: 1;
  }
}

