.pill {
    color: currentColor;
    border: var(--pill-border, 0.1em) solid;
    padding-inline: var(--pill-padding-inline, var(--pill-padding, 0.30em));
    padding-block: var(--pill-padding-block, var(--pill-padding, 0.15em));

    text-decoration: none;

    transition:
        background var(--base-transition-duration),
        color var(--base-transition-duration),
        border var(--base-transition-duration);
}

button.pill {
  background-color: transparent;
}

.pill a {
    color: var(--pill-color, currentColor);
    text-decoration: none;
}

.pill[aria-current="true"] {
  border-width: calc(2 * var(--pill-border, 0.1em));
}

.pill[aria-disabled="true"] {
  opacity: 0.7;
  pointer-events: none;
}

.pill:hover,
.pill:focus,
.pill:focus-visible {
    color: var(--page-bg);
    background-color: var(--text);
    border-color: var(--text);
}

.pill:focus,
.pill:focus-visible {
    outline-offset: calc(var(--space-3xs) / 2);
}

.pill[data-pill-style="unimportant"] {
    opacity: 0.9;
    border-style: dotted;

    &:hover,
    &:focus,
    &:focus-visible {
      opacity: 1.0;
    }
}
