<meta name="keywords" content="{{ if .Params.Keywords }}{{ delimit .Params.Keywords ", " }}{{ else if .Params.Tags }}{{ delimit .Params.Tags ", " }}{{ end }}"/>
<meta name="description" content="{{ if .Params.Description }}{{ trim .Params.Description "\n" }}{{ else }}{{ trim .Site.Params.Description "\n"}}{{ end }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="author" content="{{ if .Params.Author }}{{ .Params.Author }}{{ else if .Site.Params.default_author }}{{ .Site.Params.default_author }}{{ end }}" />

<link type="text/plain" rel="author" href="{{ absURL "humans.txt" }}" />

<meta name="robots" content="index,follow">

{{ if isset .Site.Params "twitter" }}
    <meta name="twitter:card" content="{{ if .Params.featured_image }}summary_large_image{{else}}summary{{end}}">
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ htmlEscape .Summary }}{{ end }}">
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}">
    {{ if .Params.featured_image }}<meta name="twitter:image" content="{{ .Params.featured_image }}">{{ end }}
{{ end }}

<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ htmlEscape .Summary }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if .Params.featured_image }}
  <meta property="og:image" content="{{ .Params.featured_image }}">
  <meta property="og:image:secure_url" content="{{ .Params.featured_image }}">
{{- end }}
{{ range .Params.categories }}<meta property="article:section" content="{{ . }}">{{ end }}
{{ if isset .Params "date" }}<meta property="article:published_time" content="{{ (time .Date).Format "2006-01-02T15:04:05Z" }}">{{ end }}

{{ if isset .Site.Params.contacts "github" }}
<link href="{{ .Site.Params.contacts.github }}" rel="me" />
{{ end }}

{{ if isset .Site.Params.indieauth "authorization_endpoint" }}
<link href="{{ .Site.Params.indieauth.authorization_endpoint }}" rel="authorization_endpoint" />
{{ end }}

{{ if isset .Site.Params.indieauth "token_endpoint" }}
<link href="{{ .Site.Params.indieauth.token_endpoint }}" rel="token_endpoint" />
{{ end }}

{{ if .IsTranslated }}
    {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
    {{ end }}
{{ end }}

{{ with .Site.Params.webmention.url }}
    <link rel="webmention" href="{{ . }}" />
{{ end }}

<!-- Favicon -->
{{ if isset .Site.Params.favicon "filename" }}
    {{ $favicon := resources.Get .Site.Params.favicon.filename }}
    {{ $resize_alg := "Lanczos" }}
    {{ if eq (.Site.Params.favicon.pixelart | default false) true }}
        {{ $resize_alg = "NearestNeighbor" }}
    {{ end }}

    {{ range $i := slice 16 32 48 }}
        {{ $icon := $favicon.Resize  (printf "%dx%d png %s" $i $i $resize_alg) }}
        <link rel="icon" type="image/png" sizes="{{ $i }}x{{ $i }}" href="{{ $icon.RelPermalink }}" />
    {{ end }}

    {{ $apple_icon := $favicon.Resize (printf "180x %s" $resize_alg) }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $apple_icon.RelPermalink }}" />
{{ end }}

{{- range .AlternativeOutputFormats }}
{{ printf `<link rel="%s" type="%s" href="%s" hreflang="%s" />` .Rel .MediaType.Type .Permalink $.Site.LanguageCode | safeHTML }}
{{- end }}

{{ if not .IsHome }}
      <script type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
        {{- $i := 1 }}
        {{- range .Ancestors.Reverse }}
          {
            "@type": "ListItem",
            "position": {{ $i }},
            "name": "{{ .Title | safeJS }}",
            "url": {{ .Permalink }},
            "item": {{ .Permalink }}
          },
          {{- $i = add $i 1 -}}
        {{ end }}
          {
            "@type": "ListItem",
            "position": {{ $i }},
            "name": "{{ .Title | safeJS }}",
            "url": {{ .Permalink }},
            "item": {{ .Permalink }}
          }
        ]
      }
      </script>
{{ end }}
