:root {
   --page-bg: #000;
   --text: hsl(0 0% 95%);
   --link: var(--text);
   --link-background: var(--background-color);
   --link-hover: var(--background-color);
   --link-hover-background: var(--text);
   --separator: #AAA;


   --scroll-shadow: rgba(255, 255, 255, 0.2);
   --accent: hsl(-10deg 70% 25%);

   --table-bg: hsl(-10, 70%, 25%);
   --table-even-bg: hsl(0 0% 100% / 0.05);
   --table-th-bg: hsl(0 0% 100% / 0.1);

   --blockquote-bg: hsl(-10, 70%, 10%);
}
