
nav, hr, footer, .translations, .page-header {
    display: none !important;
}

.readable-width {
    width: 100%;
}

article {
    --max-text-width: 100%;
}

article .wrapper {
    display: block;
}
