:root {
    --accent: oklch(85% 85% 15deg);

    --accent-to-base-1:  color-mix(in oklch, var(--accent), var(--base-mix) 10%);
    --accent-to-base-2:  color-mix(in oklch, var(--accent), var(--base-mix) 20%);
    --accent-to-base-3:  color-mix(in oklch, var(--accent), var(--base-mix) 30%);
    --accent-to-base-4:  color-mix(in oklch, var(--accent), var(--base-mix) 40%);
    --accent-to-base-5:  color-mix(in oklch, var(--accent), var(--base-mix) 50%);
    --accent-to-base-6:  color-mix(in oklch, var(--accent), var(--base-mix) 60%);
    --accent-to-base-7:  color-mix(in oklch, var(--accent), var(--base-mix) 70%);
    --accent-to-base-8:  color-mix(in oklch, var(--accent), var(--base-mix) 80%);

    --accent-to-inverted-1: color-mix(in oklch, var(--accent), var(--inverted-mix) 10%);
    --accent-to-inverted-2: color-mix(in oklch, var(--accent), var(--inverted-mix) 20%);
    --accent-to-inverted-3: color-mix(in oklch, var(--accent), var(--inverted-mix) 30%);
    --accent-to-inverted-4: color-mix(in oklch, var(--accent), var(--inverted-mix) 40%);
    --accent-to-inverted-5: color-mix(in oklch, var(--accent), var(--inverted-mix) 50%);

    --accent-subtle: color-mix(in oklch, var(--accent), transparent 25%);

    --heading-color: color-mix(in oklch, var(--text), var(--inverted-mix) 30%);
    --section-counter-color: var(--heading-color);
    --target-bg: var(--accent-to-base-4);

    --card-hover-bg: var(--accent-to-base-6);

    --table-hover-bg: var(--accent-to-base-6);

    --sidenote-bg: var(--accent-to-base-7);
}

// We use a SASS variable because color inheritance for linear gradient
// is broken on Firefox <=128.
$background-wip: linear-gradient(-45deg,
                var(--background-wip-color1, transparent) 10%,

                var(--background-wip-color2, yellow) 10%,
                var(--background-wip-color2, yellow) 20%,

                var(--background-wip-color1, transparent) 20%,
                var(--background-wip-color1, transparent) 30%,

                var(--background-wip-color2, yellow) 30%,
                var(--background-wip-color2, yellow) 40%,

                var(--background-wip-color1, transparent) 40%,
                var(--background-wip-color1, transparent) 50%,

                var(--background-wip-color2, yellow) 50%,
                var(--background-wip-color2, yellow) 60%,

                var(--background-wip-color1, transparent) 60%,
                var(--background-wip-color1, transparent) 70%,

                var(--background-wip-color2, yellow) 70%,
                var(--background-wip-color2, yellow) 80%,

                var(--background-wip-color1, transparent) 80%,
                var(--background-wip-color1, transparent) 90%,

                var(--background-wip-color2, yellow) 90%,
                var(--background-wip-color2, yellow) 100%);


.background-wip {
  background: $background-wip;
}

.sidenote {
  background: var(--sidenote-bg);
}
