@media screen and (prefers-color-scheme: dark) {
  :root {
      --base-mix: black;
      --inverted-mix: white;

      --page-bg: black;

      --text: oklch(90% 0% 0);
      --link: oklch(100% 40% 0.05turn);
      --link-hover: hsl(0 0% 90%);
      --link-hover: oklch(80% 30% -90deg);
      /* --link-visited: hsl(0 25% 75%); */
      /* --link-visited: oklch(100% 30% 0.05turn); */

      --separator: #AAA;

      --scroll-shadow: rgba(255, 255, 255, 0.2);

      --table-bg: hsl(-10 70% 25%);
      --table-even-bg: hsl(0 0% 100% / 0.05);

      --code-bg: Oklch(40% 0 0);

      --section-counter-color: var(--accent);

      --blockquote-bg: hsl(-10, 70%, 10%);

      --background-wip-color2: oklch(50% 90% 110deg);
  }

  .card[data-card-style="work-in-progress"] header {
      --background-wip-color1: var(--text);
      --background-wip-color2: oklch(80% 60% 110deg);
  }
}
