@media screen and (prefers-color-scheme: dark) {
  :root {
      --base-mix: black;
      --inverted-mix: white;

      --page-bg: black;

      --text: oklch(90% 0% 0);
      --link: oklch(100% 40% 0.05turn);
      --link-hover: hsl(0 0% 90%);
      --link-hover: oklch(100% 60% 0.05turn);
      --link-visited: hsl(0 25% 75%);
      --link-visited: oklch(100% 30% 0.05turn);

      --separator: #AAA;

      --scroll-shadow: rgba(255, 255, 255, 0.2);

      --table-bg: hsl(-10 70% 25%);
      --table-even-bg: hsl(0 0% 100% / 0.05);

      --code-bg: Oklch(40% 0 0);

      --blockquote-bg: hsl(-10, 70%, 10%);
  }
}
