@media screen and (prefers-color-scheme: light) {
  :root {
      --base-mix: white;
      --inverted-mix: black;

      --page-bg: oklch(99% 1% 34deg);

      --text: oklch(30% 0 0deg);
      --link: oklch(35% 50% 255deg);
      --link-background: transparent;
      --link-hover-background: var(--text);
      --separator: var(--text);

      --table-bg: hsl(10deg, 100%, 85%);
      --table-even-bg: hsl(0 0% 0% / 0.05);

      --code-bg: Oklch(90% 0 0);

      --section-counter-color: hsl(-25deg 100% 60%);

      --blockquote-bg: hsl(10deg, 100%, 90%);

      --background-wip-color2: oklch(90% 50% 110deg);
  }

  footer {
      --link: oklch(90% 50% 255deg);
  }

  .card[data-card-style="work-in-progress"] header {
      --background-wip-color1: var(--text);
      --background-wip-color2: oklch(60% 50% 110deg);
  }
}
