footer {
    // border-top: 0.05rem solid var(--separator);
    margin-block-start: var(--font-size-md);
    flex: none;

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-col {
        display: flex;
        flex-direction: column;
    }

    .footer-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;
    }

    .contact-list, .social-media-list {
        list-style: none;
        margin-inline-start: 0;
        padding-inline-start: 0; 
    }

    .web-buttons {
        display: grid;
        grid-template-columns: repeat(5, max-content);
        gap: var(--font-size-md);
        padding-block: var(--font-size-md);

        justify-content: space-between;
        align-items: center;

        // div {
        //     width: 100%;
        // }

        // img {
        //     min-width: 100%;
        //     min-height: 100%;
        //     object-fit: cover;
        // }

    }
}
