@use 'mixins' as *;

footer {
    --repel-vertical-alignment: start;

    border-top: var(--space-3xs) double;

    .footer-col {
        display: flex;
        flex-direction: column;
    }

    .footer-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: var(--space-2xs);
    }

    .contact-list, .social-media-list {
        margin-inline-start: 0;
        padding-inline-start: 0; 
    }

    .web-buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(88px, max-content));
        gap: var(--space-xs);
        padding-block: var(--space-s);

        justify-content: space-between;
        align-items: center;

        > a {
            line-height: 0;
        }

        // div {
        //     width: 100%;
        // }

        // img {
        //     min-width: 100%;
        //     min-height: 100%;
        //     object-fit: cover;
        // }

    }
}

@include mobile {
    footer .wrapper {
        flex-direction: column-reverse;
    }
}
