@use 'mixins' as *;

header {
    --font-size: var(--font-size-2xl);

    flex: none;
    font-size: var(--font-size);

    &.page-header {
        // border-block-end: var(--border-size-md) solid;
        margin-block-start: var(--font-size-md);
    }

    #breadcrumbs {
        display: flex;
        gap: 0.5rem;
        padding: 0;
        line-height: 0;

        align-items: center;

        list-style-type: none;

        overflow-x: scroll;
        overflow-y: hidden;

        > * {
            min-width: fit-content;
        }

    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    nav ul {
        padding: 0;
    }

    // & .items { 
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     gap: 1rem;
    //     font-size: var(--font-size-md);
    // }

    nav ul a {
        --_clr: var(--text);

        color: var(--_clr);
        text-decoration: none;

        border: var(--border-size-sm) solid var(--_clr);

        /* Padding 25% of the font size */
        padding: 0.25em;

        font-weight: 700;

        transition:
            background-color 250ms ease,
            color 250ms ease;

        &:visited, &:active {
            color: var(--_clr);
        }

        &:hover, &:focus {
            background-color: var(--_clr);
            color: var(--page-bg);
        }
    }

    & nav ul, & nav ol {
        list-style-type: none;
    }

    .logo-wrapper {
        line-height: 0;

        & img {
            width: calc(var(--font-size) * 2);
        }
    }

    // .navigation-container-logo {
    //     gap: 3rem;
    //     font-size: var(--font-size-2xl);
    // }

    // .translations {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: start;
    //     gap: 0.5rem;
    //     padding: 0;
    //
    //     list-style-type: none;
    // }
}

@include tablet {
    header nav {
        flex-direction: row;
    }

    header .translations {
        flex-direction: row;
        align-items: center;
    }

    // header #breadcrumbs > :not(li:first-of-type):not(li:last-of-type):not(span:first-of-type) {
    //     display: none;
    // }
}
