@use 'mixins' as *;

header {
    --font-size: var(--font-size-2xl);
    --gap: 0.5rem;

    flex: none;
    font-size: var(--font-size);

    #breadcrumbs {
        display: flex;
        gap: var(--gap);
        padding: 0;
        // line-height: 0;

        align-items: center;

        list-style-type: none;

        overflow-x: scroll;
        overflow-y: hidden;

        >* {
            min-width: fit-content;
        }

    }

    nav ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap);
    }

    nav ul a {
        --_clr: var(--text);

        color: var(--_clr);
        text-decoration: none;

        outline: var(--border-size-sm) solid var(--_clr);

        /* Padding 25% of the font size */
        padding: 0.25em;

        font-weight: 700;

        transition:
            background-color 250ms ease,
            color 250ms ease;

        &:visited,
        &:active {
            color: var(--_clr);
        }

        &:hover,
        &:focus {
            background-color: var(--_clr);
            color: var(--page-bg);
        }
    }

    & nav ul,
    & nav ol {
        list-style-type: none;
    }

    .logo-wrapper {
        line-height: 0;

        & img {
            width: calc(var(--font-size) * 2);
        }
    }
}

@include tablet {
    header nav {
        flex-direction: row;
    }

    header .translations {
        flex-direction: row;
        align-items: center;
    }
}
