@use 'mixins' as *;

header {
    --font-size: var(--fluid-step-1);
    --gap: var(--space-s);

    font-size: var(--font-size);

    [aria-label="Breadcrumb"] {
        display: flex;
        gap: var(--space-3xs);
        padding: 0;

        // Don't set line-height to zero, otherwise the layout would break.

        align-items: center;

        list-style-type: none;

        overflow-x: auto;
        overflow-y: hidden;

        > * {
            min-inline-size: fit-content;
        }

    }


    .logo-wrapper {
        display: block;
        line-height: 0;

        & img {
            aspect-ratio: 1;
            block-size: 4em;
        }
    }
}
