:root {
    --page-bg: #000;

    --text: hsl(0 0% 95%);
    --link: hsl(0 10% 75%);
    --link: oklch(100% 40% 0.05turn);
    --link-hover: hsl(0 0% 90%);
    --link-hover: oklch(100% 60% 0.05turn);
    --link-visited: hsl(0 25% 75%);
    --link-visited: oklch(100% 30% 0.05turn);

    --separator: #AAA;

    --scroll-shadow: rgba(255, 255, 255, 0.2);
    --accent: hsl(-10deg 70% 25%);

    --table-bg: hsl(-10 70% 25%);
    --table-even-bg: hsl(0 0% 100% / 0.05);

    --code-bg: Oklch(40% 0 0);

    --section-counter-color: hsl(-45deg 100% 45%);

    --blockquote-bg: hsl(-10, 70%, 10%);

    --card-header: oklch(85% 0% 0);
    --card-header-hover: oklch(95% 5% 0);
}
