{{ define "main" }}
<article class="flow">
    <header>
        {{ if .Title }}
        <h1>{{ .Title }}</h1>
        {{ end }}
    </header>
    <div class="post-content flow">
        {{ .Content }}
    </div>

    {{ if (ge site.RegularPages 1) }}
    <section class="subposts">
        <header>
            <h2>Latest entries</h2>
        </header>
        {{ range (where site.RegularPages "Params.ignore" "!=" "true") }}
            {{ partial "list-subpost.html" . }}
        {{ end }}
    {{ end }}
    </section>
</article>
{{ end }}

