{{ define "main" }}
<article class="wrapper flow">
    <header>
        {{ if .Title }}
        <h1>{{ .Title }}</h1>
        {{ end }}
    </header>
    <div class="post-content flow">
        {{ .Content }}
    </div>

    {{ if (ge site.RegularPages 1) }}
    <section class="flow region">
        <header>
            <h2>Latest entries</h2>
        </header>
        <ol role="list" class="grid focus-on-hover subpost-list">
        {{ range (where site.RegularPages "Params.ignore" "!=" "true") }}
            <li>
            {{ partial "list-subpost.html" . }}
            </li>
        {{ end }}
        </ol>
    {{ end }}
    </section>
</article>
{{ end }}

