{{ define "main" }}
<article class="wrapper flow">
    <header>
        {{ if .Title }}
        <h1>{{ .Title }}</h1>
        {{ end }}
    </header>

    <div class="post-content flow">
        {{ .Content }}
    </div>

    {{ if (ge .Site.RegularPages 1) }}
    <section class="flow region">
        <header>
            <h2>{{ T "home_latest_posts" }}</h2>
        </header>
        <ol role="list" class="grid focus-on-hover subpost-list">
        {{ range .Site.RegularPages }}
            {{ if eq (.Params.ignore | default false) false }}
            <li>
            {{ partial "list-subpost.html" . }}
            </li>
            {{ end }}
        {{ end }}
        </ol>
    {{ end }}
    </section>

    {{ if (ge .Site.Taxonomies.categories 1) }}
    <section class="flow region">
        <header><h2>{{ T "home_categories" }}</h2></header>
        <ul role="list" class="cluster home-categories">
            {{ range site.Taxonomies.categories }}
            <li><a class="pill" href="{{ .Page.RelPermalink }}" >{{ .Page.Title }} ({{ .Count }})</a></li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
</article>
{{ end }}

