{{ define "main" }}
<article class="wrapper u-grid">
    <header>
        <h1>{{ .Title }}</h1>
    </header>

    {{ if .Content }}
    <div class="post-content">
        <p>{{ .Content }}</p>
    </div>
    <hr />
    {{ end }}

    <section class="flow">
        <ol role="list" class="grid focus-on-hover">
        {{ range .Pages.ByPublishDate.Reverse }}
            <li>
            {{ partial "list-subpost.html" . }}
            </li>
        {{ end }}
        </ol>
    </section>

</article>
{{ end }}
