{{ define "main" }}
<article class="flow wrapper">
    <header>
        <h1>{{ .Title }}</h1>
    </header>

    {{ if .Content }}
    <section class="flow post-content">
        {{ .Content }}
    </section>
    {{ end }}

    <section class="flow">
        <ol role="list" class="grid focus-on-hover subpost-list">
        {{ range .Pages.ByPublishDate.Reverse }}
            <li>
            {{ partial "list-subpost.html" . }}
            </li>
        {{ end }}
        </ol>
    </section>
</article>
{{ end }}
