{{ if (ge (len .Site.Home.AllTranslations) 2) }}
<button type="button" class="dropdown-initiator" aria-haspopup="true">
    <span>
        <span aria-hidden="true">🌐</span>
        <span class="visually-hidden" data-hide-mode="sr">{{ T "site_language_switcher_aria" }}</span>
    </span>
    <!-- TODO:  Permalink to the current page. -->
    <ul class="dropdown" role="list" aria-label="submenu">
        {{ range $.Site.Home.AllTranslations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
    </ul>
</button>
{{ end }}
