<footer class="readable-width">
    <div class="wrapper">
        <div class="footer-col">
            <ul class="footer-row contact-list">
                <li class="p-name">本居 小鈴</li>
                <li><a class="u-email" href="mailto:contact@suzunaan.org">contact@suzunaan.org</a></li>
            </ul>

            <div class="footer-row">
                <p>A ringing library.</p>
            </div>
        </div>
        <div class="footer-col">
            <ul class="footer-row contact-list">
                <li><a href="https://translations.suzunaan.org">Translations</a></li>
            </ul>
        </div>
    </div>

</footer>
