<header class="page-header readable-width">
    <a id="link-to-main" href="#the-content">Link to content!</a>
    <div class="adjacent-elements">
        <div class="navigation-container-logo adjacent-elements">
            <a class="logo-wrapper" rel="author" href='{{ "/" | absLangURL }}'>
                <img id="logo" src="{{ .Site.Params.logo }}" />
            </a>

            <h1 class="title">{{ .Site.Title }}</h1>
        </div>

        <nav>
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </nav>
    </div>


    {{ partial "allLanguages.html" . }}

    {{ partial "wei.html" . }}
</header>
