<div class="post-metadata">
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

    <div class="tags">
        {{ with .Params.tags }}
        {{ range . }}
        {{ $href := print (absLangURL "tags/") (urlize .) }}
        <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href | absLangURL }}">{{ . }}</a>
        {{ end }}
        {{ end }}
    </div>
    {{ partial "i18nlist.html" . }}
</div>
