<div id="wei" aria-disabled="true">
    <span>Achtung!</span>
    <p>
        It appears that you are using a web browser (Chrome, Safari, Edge or similar) that supports Web Environment
        Integrity: WEI injures the openness and trust from which the web has been built upon.
        Please, consider switching to a browser that promotes privacy and freedom, like <a
            href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
    </p>

    <p>
        You can read more about the issue <a href="https://openwebdefenders.org">here</a>.
    </p>
</div>
