.repel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-m));
}


.repel[data-repel-direciton='vertical'] {
  flex-direction: column;
}
