.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-m-l));

  &:not([data-direction="rtl"]) > :first-child {
    flex-basis: var(--sidebar-target-width, 30ch);
    flex-grow: 1;
  }

  &:not([data-direction="rtl"]) > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--sidebar-min-content-size, 60%);
  }
}

.sidebar[data-direction="reverse"] {
  flex-direction: row-reverse;
}

.sidebar[data-direction="rtl"] > :last-child {
  flex-basis: var(--sidebar-target-width, 30ch);
  flex-grow: 1;
}

.sidebar[data-direction="rtl"] > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-min-content-size, 60%);
}

@media screen and (min-width: 930px)  {
  .sidebar[data-sidebar-variant="sticky"] > :first-child {
    position: sticky;
    top: 2rem;
    overflow: auto;
    height: 100vh;
  }
}
