// Shadow code taken from CSS-Tricks:
// https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/

.scroll-shadow[data-scroll-shadow="vertical"] {
    background:
        /* Shadow Cover TOP */
        linear-gradient(
            var(--page-bg) 30%,
            rgba(255, 255, 255, 0)
        ) center top,

        /* Shadow Cover BOTTOM */
        linear-gradient(
            rgba(255, 255, 255, 0),
            var(--page-bg) 70%
        ) center bottom,

        /* Shadow TOP */
        radial-gradient(
            farthest-side at 50% 0,
            var(--scroll-shadow, rgba(0, 0, 0, 0.2)),
            rgba(0, 0, 0, 0)
        ) center top,

        /* Shadow BOTTOM */
        radial-gradient(
            farthest-side at 50% 100%,
            var(--scroll-shadow, rgba(0, 0, 0, 0.2)),
            rgba(0, 0, 0, 0)
        ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

/*
.scroll-shadow[data-scroll-shadow="horizontal"] {
    background:
        linear-gradient(to right,
            var(--page-bg) 30%,
            rgba(255, 255, 255, 0)
        ),

        linear-gradient(to left,
            rgba(255, 255, 255, 0),
            var(--page-bg) 70%
        ),

        radial-gradient(
            farthest-side at 0% 50%,
            var(--scroll-shadow, rgba(0, 0, 0, 0.2)),
            rgba(0, 0, 0, 0)
        ),

        radial-gradient(
            farthest-side at 100% 50%,
            var(--scroll-shadow, rgba(0, 0, 0, 0.2)),
            rgba(0, 0, 0, 0)
        );


    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 100%, 100% 32px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}
*/
