.font-mono {
  font-family: $font-suzu-mono;
}

.font-serif {
  font-family: $font-suzu-serif;
}

.font-step-sm {
  font-size: var(--fluid-step--1);
}

.font-step-xs {
  font-size: var(--fluid-step--2);
}

.font-step-2xs {
  font-size: var(--fluid-step--3);
}

.text-uppercase {
  text-transform: uppercase;
}
